builddir/
builddir-macos/
builddir-windows/
accounts/
dist/macos/
dist/windows/
dist/debian/parla/build/
dist/debian/parla/control/
dist/debian/parla/data/
dist/debian/parla/debian-binary
dist/debian/parla/root/
dist/debian/parla/*.deb
dist/flatpak/build
dist/flatpak/repo
dist/appimage/AppDir/
dist/appimage/out/
dist/appimage/tools/
dist/release/
src/config.vala
.codex/
scripts/stickers/.tools/
./*.zip
