[Desktop Entry]
Name=Parla
GenericName=Messaging
Comment=A Delta Chat client for GNOME
Exec=parla %u
Icon=io.github.trufae.Parla
Terminal=false
Type=Application
StartupWMClass=io.github.trufae.Parla
Categories=Network;Chat;InstantMessaging;GTK;
Keywords=chat;messaging;email;deltachat;parla;
MimeType=x-scheme-handler/openpgp4fpr;
StartupNotify=true
DBusActivatable=true
X-Purism-FormFactor=Workstation;Mobile;
