[Desktop Entry]
Name=Delta Chat
GenericName=Messaging
Comment=Native Delta Chat client for GNOME
Exec=deltachat-gnome
Icon=org.deltachat.Gnome
Terminal=false
Type=Application
Categories=Network;Chat;InstantMessaging;GTK;
Keywords=chat;messaging;email;deltachat;
StartupNotify=true
